{% extends 'pages/layout.html' %}

  {% block title %}{{ block.super }}{% endblock title %}

  {% block head%}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/home_page.css' %}">
  {% endblock head %}

  {% block page %}Topics{% endblock page %}
  
  {% block head_btn %}
    <button class="my-auto forum-button action"
          type="button"
          data-toggle="collapse"
          data-target="#add_topic"{% if not topic_queryset %} disabled {% endif %}>
          Add topic:
    </button>
  {% endblock head_btn %}

  {% block content %}
  <div class="container mt-3">
    <div class="collapse {% if not topic_queryset %} show {% endif %}" id="add_topic">
      <form class="form-group" id="newTopicForm" action="{% url 'homepage:add_topic' %}" method='POST'>
        {% csrf_token %}
        <div class="form-row">
          <div class="col">
            <input type='text' class="form-control" placeholder='Topic title' name='title' />
          </div>
          <div class="form-row">
            <textarea class="form-control" placeholder="Topic content" name="text"></textarea>
          </div>
        </div>
        <button class="ml-3 mt-2 forum-button post" type="submit">post</button>
      </form>
    </div>
  </div>


<!-- Topic list begin -->
  <div class="container" id="topics">
      topics goes here
  </div>


<script>
const topicsContainer = document.getElementById('topics')
const topicSubmitForm = document.getElementById('newTopicForm')

topicSubmitForm.addEventListener('submit', createTopic)
getTopicsList(topicsContainer)


function getTopicsList(topicsEl) {
  handleRequest('GET', 'api_topics/').then(response => {
    var finalTopicArr = ""
    const recievedData = response.response
    console.log(recievedData)
    for (var i=0; i<recievedData.length; i++) {
      currentEl = generateTopicEl(recievedData[i])
      finalTopicArr += currentEl  
    }
    topicsContainer.innerHTML = finalTopicArr
  })
}


function handleRequest(method, url, data) {
    const promise = new Promise((resolve, reject) => {
        const xhr = new XMLHttpRequest()
        xhr.responseType = 'json'
        xhr.open(method, url)
        xhr.onload = () => {
            resolve(xhr)
        }
        xhr.send(data)
    })
    return promise
}


generateTopicEl = (element) => {
  var generatedTopicEl = "<div class='col-12 mx-auto border py-3 mb-4'>\
  <h4><a href='topic/" + element.slug + "'>" + element.title + "</a></h4>\
  <p>" + element.text + "</p>\
  </div>"
  return generatedTopicEl
}


function createTopic(event) {
  event.preventDefault()
  const topicForm = event.target
  const newFormData = new FormData(topicForm)
  handleRequest('POST', 'api_topics/create', newFormData).then(response => {
    const status = response.status
    const data = response.response
    if (status == 201) {
        const newTopic = generateTopicEl(data)
        const topic = topicsContainer.innerHTML
        topicsContainer.innerHTML = newTopic + topic
        topicForm.reset()
    }
  })
}




</script>



  {% endblock content %}
            