{% extends 'pages/layout.html' %}

  {% block title %}{{ block.super }}{% endblock title %}

  {% block head%}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/home_page.css' %}">
  {% endblock head %}

  {% block page %}Topics{% endblock page %}
  
  {% block head_btn %}
    <button class="my-auto forum-button action"
          type="button"
          data-toggle="collapse"
          data-target="#add_topic"{% if not topic_queryset %} disabled {% endif %}>
          Add topic:
    </button>
  {% endblock head_btn %}

  {% block content %}
  <div class="container">

<!-- Topics header, add topic begin -->
  <div class="container mt-3">
    <div class="collapse {% if not topic_queryset %} show {% endif %}" id="add_topic">
      <form method="POST" class="form-group" action="{% url 'homepage:add_topic' %}">
        {% csrf_token %}
        <div class="form-row">
          <div class="col">
            {{ form.title }}
          </div>
          <div class="col-2">
            {{ form.tags }}
          </div>
        </div>
        <div class="mt-3">
          {{ form.text }}
        </div>
        <button class="ml-3 mt-2 forum-button post" type="submit">post</button>
      </form>
    </div>
  </div>
<!-- end -->

<div id='list'>

</div>

<!-- Topic list begin -->
  <div class="container">
    {% for topic in topic_queryset %}
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-around">
        <!-- go in loop -->
          <p class="text-muted my-0">Author: {{ name }}</p>
          <p class="text-muted my-0">Rating: 0</p>
          <p class="text-muted my-0">Comments: {{ topic.comm_count }}</p>
        </div>
        <div class="card-body">
          <a href="{% url 'homepage:topic_page' topic.slug %}">
            <h2 class="card-title h5">{{ topic.title }}</h2>
          </a>
          <p class="card-text text-truncate">{{ topic.text }}</p>
        </div>
        <div class="card-footer">
          <p class="my-0 text-muted">Tags:</p>
        </div>
      </div>
    {% endfor %}
  </div>

<script>
const topicsContainer = document.getElementById('list')
loadTopics(topicsContainer)

function loadTopics(topicsElement) {
  const xhr = new XMLHttpRequest()
  const method = 'GET'
  const url = '/api_topic_list'
  const responseType = 'json'

  xhr.responseType = responseType
  xhr.open(method, url)
  xhr.onload = function() {
    const topicList = xhr.response
    console.log(topicList)
  }
  xhr.send()
}





</script>



  {% endblock content %}
            