.login-page {
  width: 360px;
  padding: 8%;
  margin: auto;
}
.form {
  position: relative;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;

}
.form input {
  font-family: Console, Monospace, sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: Console, Monospace, sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(61, 61, 61);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #ff6f69;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .msg {
  margin: 15px 0 0;
  color: #c44f4f;
  font-size: 14px;
  text-decoration: none;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

body {
  font-family: Console, Monospace, sans-serif;
}
