{% extends 'login/login_layout.html' %}
{% block content %}

<div class="login-page">
  <div class="form">
    <form method='POST'>
      {% csrf_token %}
      {{ form.username }}
      {{ form.password }}
      <button type='submit'>Enter Hut</button>
      <p class="message"><a href="{% url 'login:user_signup' %}">Or Become a Cossack here!</a></p>
    </form>
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <p class="msg">{{ error }}</p>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock %}