{% extends 'login/login_layout.html' %}

{% block title %}Login Hut{% endblock title %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}"/>
    <script type="text/javascript" src="{% static 'script/jquery-3.5.1.js' %}"></script> 
{% endblock head %}

{% block content %}



<input type="text" id="lele">

<script>
    $("#lele").change(function () {
       var username = $(this).val();

      $.ajax({
      url: '/ajax/validate_username/',
      data: {
        'username': username
      },
      dataType: 'json',
      success: function (data) {
        if (data.is_taken) {
          alert("A user with this username already exists.");
        }
      }
    });
  });
</script>
<div class="login-page">
  <div class="form">
    <form method='POST'>
      {% csrf_token %}
      {{ form.username }}
      {{ form.password }}
      <button type='submit'>Enter Hut</button>
      <p class="message"><a href="{% url 'login:user_signup' %}">Or Become a Cossack here!</a></p>
    </form>
    
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <p class="msg">{{ error }}</p>
      {% endfor %}
    {% endif %}
  </div>
</div>


{% endblock content %}
