{% extends 'login/login_layout.html' %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/signup.css' %}"/>

{% block content %}

<div class="login-page">
  <div class="form">
    <form class="login-form" method='post'>
      {% csrf_token %}
      {{ form.username }}
      {{ form.password }}
      <button type='submit'>Become a Cossack!</button>
      <p class="message">Already registered? <a href="{% url 'login:user_login' %}"> Log in here</a></p>
      {% if form.errors %}
          <p id="msg">{{ form.errors.username }}</p>
      {% endif %}
    </form>

  </div>
</div>

{% endblock %}