{% extends 'login/login_layout.html' %}
{% block content %}

<div class="login-page">
  <div class="form">
    <form class="login-form" method='post'>
      {% csrf_token %}
      {{ form.username }}
      {{ form.password }}
      <button type='submit'>стати козаком</button>
      <p class="message">Вже козак? <a href="{% url 'login:user_login' %}"> Зайти в Курінь!</a></p>
    </form>
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <p class="msg">{{ error }}</p>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock %}