{% comment %} {% for field in form %}
{{ field }}
{% endfor %} {% endcomment %}

<tr>
    <th>
        <label for="id_username">Твоє ймення?</label>
    </th>
    <td>
        <input type="text" 
               name="username" 
               value="sdf" 
               maxlength="150" 
               autofocus required 
               id="id_username">
    </td>
</tr>

<tr>
    <th>
        <label for="id_password1">Password:</label>
    </th>
    <td>
        <ul class="errorlist">
            <li>
                This field is required.
            </li>
        </ul>
        <input type="password" 
               name="password1" 
               autocomplete="new-password" 
               equired id="id_password1">
        <br>
        <span class="helptext">
            <ul>
                <li>
                    Your password can’t be too similar to your other personal information.
                </li>
                <li>
                    Your password must contain at least 8 characters.
                </li>
                <li>
                    Your password can’t be a commonly used password.
                </li>
                <li>
                    Your password can’t be entirely numeric.
                </li>
            </ul>
        </span>
    </td>
</tr>

<tr>
    <th>
        <label for="id_password2">
            Password confirmation:
        </label>
    </th>
    <td>
        <ul class="errorlist">
            <li>
                This field is required.
            </li>
        </ul>
        <input type="password" 
               name="password2" 
               autocomplete="new-password" 
               required id="id_password2">
        <br>
        <span class="helptext">
            Enter the same password as before, for verification.
        </span>
    </td>
</tr>

<tr>
    <th>
        <label for="id_password">
            Кодове слово?
        </label>
    </th>
    <td>
        <input type="password" 
               name="password" 
               required id="id_password">
    </td>
</tr>