{% extends 'homepage/layout.html' %}
{% block title %}Add Topic{% endblock title %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/add_topic.css' %}">
{% endblock head %}

{% block content %}

<div class="container-fluid add-div">
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form.title }}
        {{ form.tags }}
        <div class="container">
            {{ form.text }}
        </div>

        <button type="submit" class="add-button">Add Topic</button>
    </form>
</div>

{% endblock content %}
