{% extends 'homepage/layout.html' %}
{% block title %}Add Topic{% endblock title %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/add_topic.css' %}">
{% endblock head %}

{% block content %}

<div class="row d-flex justify-content-center">
  <form method="POST" class="form-group col-6">
    {% csrf_token %}
    <div class="form-row">
      <div class="col">
        {{ form.title }}
      </div>
      <div class="col-2">
        {{ form.tags }}
      </div>
    </div>
    {{ form.text }}
    <button type="submit" class="add-button">Add Topic</button>
  </form>
</div>


{% endblock content %}
