{% extends 'homepage/layout.html' %}

  {% block title %}Homepage{% endblock title %}

  {% block head%}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/home_page.css' %}">
  {% endblock head %}

  {% block page %}Topics{% endblock page %}
  
  {% block head_btn %}
    <button class="my-auto forum-button action"
          type="button"
          data-toggle="collapse"
          data-target="#addTopic">
          Add topic:
    </button>
  {% endblock head_btn %}

  {% block content %}
  <div class="container">

<!-- Topics header, form begin -->
  <div class="container mt-3">
    <div class="collapse" id="addTopic">
      <form method="POST" class="form-group">
        {% csrf_token %}
        <div class="form-row">
          <div class="col">
            {{ form.title }}
          </div>
          <div class="col-2">
            {{ form.tags }}
          </div>
        </div>
        <div class="mt-3">
          {{ form.text }}
        </div>
        <button class="ml-3 mt-2 forum-button post" type="submit">post</button>
      </form>
    </div>
  </div>
<!-- end -->

<!-- Comments begin -->
  <div class="container">
    {% for topic in topic_queryset %}
      <div class="container">
        <div class="row my-2">
          <div class="col-sm-10 pr-0">
            <div class="card">
              <div class="card-body">
                <a href="{% url 'homepage:topic' topic.pk %}">
                  <h5 class="card-title">{{ topic.title }}</h5>
                </a>
                <p class="card-text text-truncate">{{ topic.text }}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-2 d-flex align-items-stretch flex-dir">
            <div class="card">
              <div class="card-body right-part">
                <p class="card-text text-muted">Author: {{ name }}</p>
                <p class="card-text text-muted">Rating: 0</p>
                <p class="card-text text-muted">Comments: {{ topic.comm_count }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% endblock content %}



{% comment %} 
<div class="d-flex">
              <div class="dropdown d-flex col-auto align-self-right">
                <button class="forum-button action dropdown-toggle align-self-center" 
                  id="actions" 
                  type="button" 
                  data-toggle="dropdown">
                  actions
                </button>
                <div class="dropdown-menu" id="actions">
                  <a class="dropdown-item" href="#">Reply</a>
                  <a class="dropdown-item" href="#">Edit</a>
                  <a class="dropdown-item" href="#">Delete</a>
                </div>
              </div>
            </div>   {% endcomment %}
            