<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/navbar-and-control.css' %}"/>
    {% block head%}
    {% endblock head %}
</head>

<body>
  <nav class="navbar navbar-light navbar-expand-sm">
    <button type="button" 
            class="navbar-toggler navbar-toggl-style btn-group-toggle btn-block btn-primary" 
            data-toggle="collapse"
            data-target="#menu-collapse"
            aria-expanded="false"
            aria-controls="menu-collapse">
            <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu-collapse">
      <ul class="navbar-nav navbar-list-style">
        <li class="nav-item nav-list-elevment-style" {% if request.path == '/' %}id="active"{% endif %}>
          <a class="nav-link" href="{% url 'homepage:home' %}">Hut</a>
        </li>

        <li class="nav-item nav-list-elevment-style" {% if request.path == '/test' %}id="active"{% endif %}>
          <a class="nav-link"
            href="{% url 'homepage:test' %}">My room</a>
        </li>

        <li class="nav-item nav-list-elevment-style ml-auto">
          <a class="nav-link"
            href="{% url 'login:user_logout' %}">Get out</a>
        </li>
      </ul>    
    </div>
  </nav>

  {% block content %}
  {% endblock content %}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>