{% extends 'homepage/layout.html' %}

  {% block title %}Topic Page{% endblock title %}
  {% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/topic_page.css' %}">
  {% endblock head %}

<!-- Title, delete accsess, info, topic begin -->
  {% block page %}{{ topic_object.title }}{% endblock page %}
    {% block head_btn %}
      <form class="align-self-center" action="{% url 'homepage:gain_delete_perm' topic_object.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="forum-button action">
            Gain comments-delete access
        </button>
      </form>
  {% endblock head_btn %}

  {% block content %}
  <div class="container">
    <ul class="border rounded muted-table d-flex justify-content-around">
      <li class="text-muted">Rating: {{ topic_object.rating }}</li>
      <li class="text-muted">Author: {{ topic_object.user }}</li>
      <li class="text-muted">Date: 25.09.2020</li>
    </ul> 
  </div>
<!-- end -->

  <div class="container my-4">
    <p class="text-justify">{{ topic_object.text }}</p>
  </div>

<!-- Comments title, add comment begin -->
  <div class="container">
    <div class="container d-flex justify-content-between">
        <h5 class="my-auto">Comments:</h5>
        <button class="my-auto forum-button action"
              type="button"
              data-toggle="collapse"
              data-target="#addComment">
              Add comment
        </button>
    </div>
    <div class="container mt-3">
      <div class="collapse" id="addComment">
        <div class="container">
          <form method="POST" action="{% url 'homepage:add_comment' topic_object.id %}">
            {% csrf_token %}
            {{ form.text }}
            <button class="ml-3 mt-2 forum-button post" type="submit">post</button>
          </form>
        </div>
      </div>
    </div>
<!-- end -->

<!-- Comments begin -->
  <div class="container">
    {% for topic_comment in topic_comments %}
      <div class="card my-2">
        <div class="card-body">
          <h5 class="card-title">{{ topic_comment.user }}</h5>
          <p class="card-text">{{ topic_comment.text }}</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <ul class="muted-table mb-0 mr-auto d-sm-block d-md-flex row justify-content-start col-10">
              <li class="text-muted col-6">Rating: {{ topic_comment.rating }}
                <div>
                  <form method="POST" action="{% url 'homepage:comment_rating_change' topic_object.id topic_comment.id %}">
                    {% csrf_token %}
                    <button class="" type="submit" name="up">+</button>
                    <button class="" type="submit" name="down">-</button>
                  </form>
                </div>             
              </li>
              <li class="text-muted col-6">Date: 25.09.2020</li>
            </ul>
            <div class="d-flex">
              <div class="dropdown d-flex col-auto align-self-right">
                <button class="forum-button action dropdown-toggle align-self-center" 
                  id="actions" 
                  type="button" 
                  data-toggle="dropdown">
                  actions
                </button>
                <div class="dropdown-menu" id="actions">
                  <a class="dropdown-item" href="#">Reply</a>
                  <a class="dropdown-item" href="#">Edit</a>
                  <a class="dropdown-item" href="#">Delete</a>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
    {% endfor %} 
  </div>
<!-- end -->

{% endblock content %}





    {% comment %} <form class=""action="{% url 'homepage:gain_delete_perm' topic_object.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="add-button">
          Gain comments-delete access
      </button>
    </form> {% endcomment %}



{% comment %} <div class="dropdown drop float-right">
          <button class="forum-button action dropdown-toggle"
                  href="#"
                  role="button"
                  id="comment-action-menu"
                  data-toggle="dropdown"
                  aria-haspopup="true" 
                  aria-expanded="false">
                  actions
          </button>
          <div class="dropdown-menu" aria-labelledby="comment-action-menu">
            {% if request.user.username == topic_comment.user.username %}
              <a class="dropdown-item" href="#">Reply</a>
              <form method="POST">
                {% csrf_token %}
                <a type="submit" 
                  class="dropdown-item"
                  href="#">
                  Edit
                </a>
                <a type="submit" 
                  class="dropdown-item"
                  href="{% url 'homepage:delete_comment' topic_comment.id %}">
                  Delete
                </a>
              </form>
            {% else %}
              <a class="dropdown-item" href="#">Reply</a>
              {% if has_delete_permition == True %}
                <a type="submit" 
                  class="dropdown-item"
                  href="{% url 'homepage:delete_comment' topic_comment.id %}">
                  Delete
                </a>         
              {% endif %}
            {% endif %}
          </div>  {% endcomment %}
