{% extends 'homepage/layout.html' %}

{% block title %}
Topic Page
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    {% for topic_name in topic_names %}
        <div class="container-fluid"> 
            <div class="row">
            <div class="col-7 col-md-10 px-0 table-col">
                <h4>{{ topic_name.title }}</h4>
                <p id="descr">{{ topic_name.text }}</p>

            </div>

            <div class="col-5 col-md-2 px-0 table-col">
                <p>Comments count</p>
                <p>Rating</p>
            </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}