{% extends 'homepage/layout.html' %}

{% block title %}
Topic Page
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/topic_page.css' %}">
{% endblock %}

{% block content %}

<!-- topic -->
    <div class="container-fluid"> 
        <div class="row">
        <div>
            <h4>{{ topic_object.title }}</h4>
            <div>
                <p>Comments count</p>
                <p>Rating</p>
            </div>
        </div>
            <p id="descr">{{ topic_object.text }}</p>
        </div>
    </div>

<!-- comments -->
    {% for topic_comment in topic_comments %}
        <p style="font-weight: bold">{{ topic_comment.user }}</p>
        <p>{{ topic_comment.text }}</p>
    {% endfor %}

<!-- add comment -->
    <form method="POST">
        {% csrf_token %}
        {{ form.text }}
        <button type="submit">Add comment</button>
    </form>


{% endblock %}