{% extends 'homepage/layout.html' %}

{% block title %}
Topic Page
{% endblock %}

{% block head %}
 {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/topic_page.css' %}">
{% endblock %}

{% block content %}

<!-- topic -->
<div class="container-fluid"> 
  <div>
    <h4>{{ topic_object.title }}</h4>
    <!-- can delete permission button -->
    <form action="{% url 'homepage:delete_perm' topic_object.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="add-button">
          Gain comments-delete access
      </button>
    </form>
  </div>
  <hr>
  <div>
    <p>Rating</p>
  <hr>
  </div>
    <p id="descr">{{ topic_object.text }}</p>
</div>

<!-- comments -->
<div class="container-fluid">
  <h5>Comments:</h5>
  {% for topic_comment in topic_comments %}
  <div class="media table">
    <div class="media-body">
      <div class="dropdown dropleft float-right">
        <button class="action-button dropdown-toggle"
                href="#"
                role="button"
                id="comment-action-menu"
                data-toggle="dropdown"
                aria-haspopup="true" 
                aria-expanded="false">
                actions
        </button>

        <div class="dropdown-menu" aria-labelledby="comment-action-menu">
          <a class="dropdown-item" href="#">Reply</a>
          {% if has_delete_permition == True %}
                <a type="submit" 
                  class="dropdown-item"
                  href="{% url 'homepage:delete_comment' topic_comment.id %}">
                  Delete
                </a>
          {% endif %}

          {% if request.user.username == topic_comment.user.username %}
            <form method="POST">
              {% csrf_token %}
              <a type="submit" 
                 class="dropdown-item"
                 href="#">
                 Edit
              </a>
            </form>
          {% endif %}
        </div>
      </div>
      <h5 style="font-weight: bold">{{ topic_comment.user }}</h5>
      <hr>
      <p>{{ topic_comment.text }}</p>
    </div>
  </div>
  {% endfor %}
</div>

<!-- add comment -->
<div class="container-fluid">
  <form method="POST" action="{% url 'homepage:add_comment' topic_object.id %}">
    {% csrf_token %}
    {{ form.text }}
    <button type="submit" class="add-button">Add comment</button>
  </form>
</div>
{% endblock %}
