.add-topic-button {
    font-family: Console, Monospace, sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(61, 61, 61);
    border: 0;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
  }
  
  .add-topic-button:hover,.form button:active,.form button:focus {
    background: #ff6f69;
  }