.page-content {
  margin-left: 20px;
  margin-right: 20px;
}

.topic-title {
  padding-top: 10px;
  font-weight: bold;
}

.table-col {
  padding-left: 10px;
  padding-top: 10px;
}

.table {
  border: 1px solid black;
  margin-bottom: 30px;
}

#descr {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
