.navbar {
    background-color: rgb(61, 61, 61);
    font-family: Console, Monospace, sans-serif;
    padding: 0px;
  }

.navbar-toggl-style {
  margin: 8px;
}

.navbar-list-style {
  width: 100%;
}

  .navbar-list-style li a {
    color: rgb(250, 250, 250) !important;
  }

  .nav-list-elevment-style:hover {
    background-color: rgb(37, 37, 37);
  }

  .nav-list-elevment-style {
    padding: 8px;
  }

#active {
  background-color:#ff6f69;
}

