/* Navbar */

.navbar {
    background-color: rgb(61, 61, 61);
    font-family: Console, Monospace, sans-serif;
    padding: 0px;
  }

.nav-item {
  padding-left: 6px;
  padding-right: 6px;
}

.nav-item:hover {
  background-color: rgb(37, 37, 37);
}

#active {
  background-color:#ff6f69;
}

#active a {
  color: rgb(0, 0, 0) !important;
}

/* Control */

.forum-button {
  font-family: Console, Monospace, sans-serif;
  text-transform: uppercase;
  background: rgb(61, 61, 61);
  border: 0;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 12px;
}
  .forum-button.post {
    font-size: 14px;
  }

  .forum-button.post:hover {
    background: #ff6f69;
  }
  
  .forum-button.action:hover {
    background: #69a5ff;
  }
