/* Navbar */

.navbar {
    background-color: rgb(61, 61, 61);
    font-family: Console, Monospace, sans-serif;
    padding: 0px;
  }

.nav-item {
  padding-left: 6px;
  padding-right: 6px;
}

.nav-item:hover {
  background-color: rgb(37, 37, 37);
}

#active {
  background-color:#ff6f69;
}

#active a {
  color: rgb(0, 0, 0) !important;
}

/* Control */

.add-button {
  font-family: Console, Monospace, sans-serif;
  text-transform: uppercase;
  background: rgb(61, 61, 61);
  border: 0;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 12px;
}

.add-button a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
}

  .add-button:hover,.form button:active,.form button:focus {
    background: #ff6f69;
  }


.action-button {
  font-family: Console, Monospace, sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:rgb(61, 61, 61);
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  font-size: 12px;
  
}
  
  .action-button:hover {
    background: #69a5ff;
  }
