/* Navbar */

.navbar {
    background-color: rgb(61, 61, 61);
    font-family: Console, Monospace, sans-serif;
    padding: 0px;
  }

.navbar-toggl-style {
  margin: 8px;
}

.navbar-list-style {
  width: 100%;
}

  .navbar-list-style li a {
    color: rgb(250, 250, 250) !important;
  }

  .nav-list-elevment-style:hover {
    background-color: rgb(37, 37, 37);
  }

  .nav-list-elevment-style {
    padding: 8px;
  }

#active {
  background-color:#ff6f69;
}

/* Control */

.add-button {
  font-family: Console, Monospace, sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(61, 61, 61);
  border: 0;
  color: #FFFFFF;
  font-size: 14px;
  
}

.add-button a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
}

  .add-button:hover,.form button:active,.form button:focus {
    background: #ff6f69;
  }


.action-button {
  font-family: Console, Monospace, sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:rgb(61, 61, 61);
  border: 0;
  color: #ffffff;
  font-size: 12px;
  
}
  
  .action-button:hover {
    background: #69a5ff;
  }

.add-comment-button {
  font-family: Console, Monospace, sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(61, 61, 61);
  border: 0;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
}

.add-comment-button:hover,.form button:active,.form button:focus {
  background: #ff6f69;
}