@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.navbar {
    background-color: rgb(61, 61, 61);
    font-family: Console, Monospace, sans-serif;
    padding: 0px;
  }

.navbar-toggler {
  margin: 8px;
}
  
.navbar-nav li a {
  color: rgb(250, 250, 250) !important;
}

.nav-item:hover {
  background-color: rgb(37, 37, 37);
}

.nav-item {
  padding: 8px;
}

#active {
  background-color:#ff6f69;
}

.navbar-nav {
  width: 100%;
}
