/* homepage and all*/
.topnav {
    list-style: none;
    overflow: hidden;
    background-color: #333;
    font-family: Console, Monospace, sans-serif
  }
  
  .topnav li a {
    display: block;
    color: rgb(250, 250, 250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;

  }

  .topnav li a:hover {
    background-color: #111;
  }

  #active {
    background-color: #51a0b4;
  }

  #signout {
    float: right;
  }

